{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
{% endblock %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p>
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
        </p>
        <p>
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </p>
        <p>
            {{ form.password1.errors }}
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
        </p>
        <p>
            {{ form.password2.errors }}
            <label for="{{ form.password2.id_for_label }}">Confirm password:</label>
            {{ form.password2 }}
        </p>
        <p>Have an account? Login <a href="{% url 'login' %}">here</a></p>
        <button type="submit">Register</button>
    </form>
{% endblock %}