{% extends 'base.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block content %}
    <h2>Welcome to the World of Cinema!</h2>
    <img src="{% static 'logos/cinema_logo.png' %}" height="300" width="300">
    <section itemscope itemtype="https://schema.org/AboutPage">
        <p itemprop="description">At <span itemtype="name"><em>CineMagic</em></span>, we believe that cinema is not just
            about watching movies but experiencing stories that
            captivate and inspire. We are dedicated to creating a memorable and immersive cinematic journey for our
            audiences.</p>
        <p><strong>Exquisite Movie Selection.</strong> We curate a diverse selection of films, ranging from timeless
            classics to the latest blockbusters. Our carefully chosen lineup caters to all tastes, ensuring that
            everyone can find a film they'll love. Whether you're a fan of heartwarming dramas, thrilling action,
            thought-provoking documentaries, or captivating animations, we have something for everyone.</p>
        <p><strong>State-of-the-Art Theatres.</strong> Enjoy our cutting-edge theatres designed to enhance your
            movie-watching experience. With comfortable seating, crystal-clear digital projection, and immersive
            surround sound, you'll feel like a part of the story on the big screen. Our commitment to the highest audio
            and visual standards ensures that every frame is brought to life with stunning clarity.</p>
        <p><strong>Indulge in Delicious Treats.</strong> No cinema experience is complete without delicious snacks. Our
            concession stands offer a wide array of mouthwatering treats, including freshly popped popcorn, tasty
            nachos, sweet candies, and refreshing drinks. Sit back, relax, and treat yourself to these delectable treats
            while enjoying your favorite films.</p>
        <p><strong>Visit Us Today.</strong> Explore the enchantment of cinema by visiting us. Prepare to be transported
            to different worlds, dive into incredible stories, and immerse yourself in the magic of the silver screen.
            Get ready for an extraordinary movie-watching experience, where dreams come to life!</p>
    </section>
    <video src="https://media.istockphoto.com/id/473335885/video/people-applauding.mp4?s=mp4-640x640-is&k=20&c=J__EL0Tcnlh2stGUOuQ5f6-cxjns3Zp9SHpCRos83Pc="
           autoplay controls loop muted>
    </video>
    <hr>
    <section itemscope itemtype="https://schema.org/Event">
        <h2 itemprop="name">History of our company</h2>
        <ul>
            <li itemprop="subEvent" itemscope itemtype="https://schema.org/Event">
                <h3 itemprop="name">2022: The Birth of a Cinematic Vision.</h3>
                <meta itemprop="startDate" content="2022-01-01">
                <p>In the year 2022, our company was born with a passionate vision to provide exceptional cinematic
                    experiences to movie enthusiasts. We embarked on a journey to create a cinema that would redefine
                    the way people engage with films, making every visit an unforgettable adventure.</p>
            </li>
            <li itemprop="subEvent" itemscope itemtype="https://schema.org/Event">
                <h3 itemprop="name">2023: Expansion and Innovation.</h3>
                <meta itemprop="startDate" content="2023-01-01">
                <p>Building upon our initial success, we expanded our operations, opening new state-of-the-art theaters
                    in key locations. These theaters were equipped with cutting-edge technology, ensuring that audiences
                    enjoyed unparalleled visual and audio quality. To enhance the movie-watching experience, we
                    introduced innovative concepts such as comfortable seating arrangements, immersive 3D screenings,
                    and the latest advancements in projection technology. We were committed to pushing boundaries and
                    setting new standards in the world of cinema.</p>
            </li>
        </ul>
    </section>
    <hr>
    <section itemscope itemtype="https://schema.org/ContactPage">
        <h2 itemprop="name">Contact us</h2>
        <p itemprop="email">email: cine_magic@example.com</p>
        <p itemprop="telephone">phone: +375293629373</p>
    </section>
    <hr>
    <p>Certificate:</p>
    <span>Certificate of Completion</span>
    <br><br>
    <span><i>This is to certify that</i></span>
    <br><br>
    <span><b><em>CineMagic</em></b></span><br/><br/>
    <span><i>was entered into the register of cinemas</i></span> <br/><br/>
    <span>with register number <b>3725</b></span> <br/><br/><br/><br/>
    <span><i>dated</i></span><br>
    <time>10 February 2022</time>
{% endblock %}