{% extends 'base.html' %}
{% load static %}
{% block title %}About us{% endblock %}
{% block content %}
    <h2>Welcome to the World of Cinema!</h2>
    <img src="{% static 'images/cinema_logo.png' %}" height="300" width="300">
    <p>At our cinema, we believe that cinema is not just about watching movies but experiencing stories that captivate
        and inspire. We are dedicated to creating a memorable and immersive cinematic journey for our audiences.</p>
    <p><b>Exquisite Movie Selection.</b> We curate a diverse selection of films, ranging from timeless classics to the
        latest blockbusters. Our carefully chosen lineup caters to all tastes, ensuring that everyone can find a film
        they'll love. Whether you're a fan of heartwarming dramas, thrilling action, thought-provoking documentaries,
        or captivating animations, we have something for everyone.</p>
    <p><b>State-of-the-Art Theatres.</b> Enjoy our cutting-edge theatres designed to enhance your movie-watching
        experience. With comfortable seating, crystal-clear digital projection, and immersive surround sound, you'll
        feel like a part of the story on the big screen. Our commitment to the highest audio and visual standards
        ensures that every frame is brought to life with stunning clarity.</p>
    <p><b>Indulge in Delicious Treats</b> No cinema experience is complete without delicious snacks. Our concession
        stands offer a wide array of mouthwatering treats, including freshly popped popcorn, tasty nachos, sweet
        candies, and refreshing drinks. Sit back, relax, and treat yourself to these delectable treats while enjoying
        your favorite films.</p>
    <p><b>Visit Us Today</b> Explore the enchantment of cinema by visiting us. Prepare to be transported to different
        worlds, dive into incredible stories, and immerse yourself in the magic of the silver screen. Get ready for an
        extraordinary movie-watching experience, where dreams come to life!</p>
    <video src="https://media.istockphoto.com/id/473335885/video/people-applauding.mp4?s=mp4-640x640-is&k=20&c=J__EL0Tcnlh2stGUOuQ5f6-cxjns3Zp9SHpCRos83Pc="
           autoplay controls loop muted>
    </video>
    <hr>
    <h3>History of our company</h3>
    <ul>
        <li><p><strong>2022: The Birth of a Cinematic Vision.</strong> In the year 2022, our company was born with a
            passionate vision to
            provide exceptional cinematic experiences to movie enthusiasts. We embarked on a journey to create a cinema
            that would redefine the way people engage with films, making every visit an unforgettable adventure.</p>
        </li>
        <li><p><strong>2023: Expansion and Innovation.</strong>
            Building upon our initial success, we expanded our operations, opening new state-of-the-art theaters in key
            locations. These theaters were equipped with cutting-edge technology, ensuring that audiences enjoyed
            unparalleled visual and audio quality.
            To enhance the movie-watching experience, we introduced innovative concepts such as comfortable seating
            arrangements, immersive 3D screenings, and the latest advancements in projection technology. We were
            committed to pushing boundaries and setting new standards in the world of cinema.</p>
        </li>
    </ul>
    <hr>
    <h3>Contact us</h3>
    <p>email: aliona.by@gmail.com</p>
    <p>phone: +375293629373</p>
    <hr>
    <p>Certificate:</p>
    <span>Certificate of Completion</span>
    <br><br>
    <span><i>This is to certify that</i></span>
    <br><br>
    <span><b>CineMagic</b></span><br/><br/>
    <span><i>was entered into the register of cinemas</i></span> <br/><br/>
    <span>with register number <b>3725</b></span> <br/><br/><br/><br/>
    <span><i>dated</i></span><br>
    <span>10 February 2022</span>
{% endblock %}