{% extends 'base.html' %}
{% load static %}
{% block title %}FAQs{% endblock %}
{% block content %}
    <details>
        <summary><strong>What are the ticket prices at CineMagic Cinema?</strong></summary>
        <p>Ticket prices may vary depending on factors such as movie format, showtime, and promotions. We offer
            competitive pricing options, and you can find detailed information on ticket prices on our website or at the
            cinema box office.</p>
    </details>
    <details>
        <summary><strong>How do I purchase tickets?</strong></summary>
        <p>You can purchase tickets online through our website or at the cinema box office. Online ticketing provides a
            convenient way to select your preferred showtime and make secure payments.</p>
    </details>
    <details>
        <summary><strong>What are the food and beverage options available at CineMagic?</strong></summary>
        <p>At CineMagic, we have a concession stand offering a wide variety of delicious snacks, popcorn, beverages,
            candies, and more. Refreshments can be enjoyed in our theater during the movie for an enhanced
            movie-watching experience.</p>
    </details>
    <details>
        <summary><strong>Does CineMagic offer private screenings or events for groups?</strong></summary>
        <p>Yes, we offer private screenings and events for groups, which can be tailored to suit various occasions such
            as birthdays, corporate gatherings, school outings, and more. You can contact our events team for more
            information on booking private screenings.</p>
    </details>
    <details>
        <summary><strong>What are the parking facilities at CineMagic?</strong></summary>
        <p>We provide convenient parking facilities for our cinema patrons. Please follow the instructions provided at
            the cinema location for parking details and availability.</p>
    </details>
    <details>
        <summary><strong>Are outside snacks or drinks allowed in the cinema?</strong></summary>
        <p>Outside snacks and drinks are generally not permitted, as we have a wide range of delicious concessions
            available for purchase. However, if you have specific dietary restrictions or requirements, kindly reach out
            to our customer service for further assistance.</p>
    </details>
{% endblock %}