{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/privacy_policy.css' %}">
{% endblock %}
{% block title %}Privacy policy{% endblock %}
{% block content %}
    <article itemscope itemtype="http://schema.org/WebPage" id="privacy">
        <meta itemprop="name" content="Privacy Policy: CINEMAGIC CINEMA">
        <meta itemprop="description"
              content="This Privacy Policy outlines how CineMagic Cinema collects, uses, and protects personal
              information obtained from our customers, website visitors, and individuals interacting with our cinema. We
               are committed to ensuring the privacy and confidentiality of your personal data. By using our website,
               services, and cinema facilities, you agree to the terms outlined in this policy.">

        <h1>Privacy Policy: CINEMAGIC CINEMA</h1>
        <p>This Privacy Policy outlines how CineMagic Cinema collects, uses, and protects personal information obtained
            from our customers, website visitors, and individuals interacting with our cinema. We are committed to
            ensuring the privacy and confidentiality of your personal data. By using our website, services, and cinema
            facilities, you agree to the terms outlined in this policy.</p>

        <ol type="1">
            <li itemprop="about" itemscope itemtype="https://schema.org/CreativeWork">
                <strong itemprop="name">Collection of Personal Information:</strong>
                <span itemprop="description">We may collect personal information, such as your name, contact details,
                    and preferences, when you make a ticket purchase, sign up for our newsletter, participate in surveys,
                    or interact with our website. We will obtain your consent to collect this information and will only
                    use it for the purposes specified.</span>
            </li>
            <li itemprop="about" itemscope itemtype="https://schema.org/CreativeWork">
                <strong itemprop="name">Use of Personal Information:</strong>
                <span itemprop="description">We will utilize your personal information to provide the services you have
                    requested, such as processing ticket bookings, delivering newsletters, and communicating updates or
                    promotional offers. With your consent, we may also use your information to improve our services,
                    customize your cinema experience, and conduct research and analysis to enhance our operations.</span>
            </li>
            <li itemprop="about" itemscope itemtype="https://schema.org/CreativeWork">
                <strong itemprop="name">Protection of Personal Information:</strong>
                <span itemprop="description">We are committed to maintaining the security and confidentiality of your
                    personal information. We have implemented appropriate technical and organizational measures to
                    safeguard your data against unauthorized access, loss, or misuse. We restrict access to personal
                    information to authorized personnel only, who are obligated to handle it in a secure and confidential
                    manner.</span>
            </li>
            <li itemprop="about" itemscope itemtype="https://schema.org/CreativeWork">
                <strong itemprop="name">Sharing Personal Information:</strong>
                <span itemprop="description">We may share your personal information with trusted third-party service
                    providers who assist us in delivering our services, conducting business activities, and maintaining
                    our website. These providers are required to adhere to the same level of data protection and
                    confidentiality. We will not sell, trade, or disclose your personal information to any other third
                    parties without your explicit consent, except as required by law or legal processes.</span>
            </li>
            <li itemprop="about" itemscope itemtype="https://schema.org/CreativeWork">
                <strong itemprop="name">Data Retention:</strong>
                <span itemprop="description">We will retain your personal information for the period necessary to
                    fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required
                    or permitted by law. We will take reasonable steps to ensure that your personal information is
                    accurate, up to date, and relevant for the intended purposes.</span>
            </li>
            <li itemprop="about" itemscope itemtype="https://schema.org/CreativeWork">
                <strong itemprop="name">Your Rights and Choices:</strong>
                <span itemprop="description">You have the right to review, correct, update, and delete your personal
                    information held by us. You may also choose to unsubscribe from our promotional communications at
                    any time. To exercise these rights or for any privacy-related inquiries, please contact us using the
                    information provided below.</span>
            </li>
            <li itemprop="about" itemscope itemtype="https://schema.org/CreativeWork">
                <strong itemprop="name">Cookies and Tracking Technologies:</strong>
                <span itemprop="description">Our website may use cookies and similar tracking technologies to enhance
                    your browsing experience and gather information about website usage patterns. You can adjust your
                    browser settings to manage cookie preferences; however, disabling cookies may affect certain
                    functionality on our website.</span>
            </li>
            <li itemprop="about" itemscope itemtype="https://schema.org/CreativeWork">
                <strong itemprop="name">Updates to the Privacy Policy:</strong>
                <span itemprop="description">We may update this Privacy Policy from time to time to reflect changes in
                    our practices or legal obligations. We encourage you to review the policy periodically to stay
                    informed about how your personal information is protected and used.</span>
            </li>
            <li itemprop="about" itemscope itemtype="https://schema.org/CreativeWork">
                <strong itemprop="name">Contact Us:</strong>
                <span itemprop="description">If you have any questions, concerns, or requests regarding this Privacy
                    Policy or our privacy practices, please contact us using the information below:</span>
            </li>
        </ol>
        <p itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
            Contact us at:
            <span itemprop="name">CineMagic Cinema</span>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">42 St.Vincent Street</span>,
                <span itemprop="addressLocality">Dangriga</span>,
                <span itemprop="addressRegion">Belize</span>
                <span itemprop="postalCode">52001</span>
            </span>
            Phone: <span itemprop="telephone">+501 24 622-9876</span>
            Email: <a href="mailto:cine_magic@example.com" itemprop="email">cine_magic@example.com</a>
        </p>

        <meta itemprop="dateModified" content="2023-09-13">
    </article>
{% endblock %}