{% extends 'base.html' %}
{% load static %}

{% block title %}Vacancies{% endblock %}
{% block content %}
    <p><b>Position</b>: <em>Customer Service Representative</em></p>
    <p><b>Description</b>: Provide exceptional customer service by assisting customers with inquiries, resolving issues,
        and
        providing information about movie schedules, promotions, and cinema facilities. Maintain a positive and friendly
        demeanor, handle customer feedback, and ensure customer satisfaction.</p>
    <p><b>Position</b>: <em>Marketing Coordinator</em></p>
    <p><b>Description</b>: Develop and implement marketing campaigns to promote movies, events, and special screenings.
        Responsible for social media management, creating engaging content, managing online advertising, and
        collaborating with external partners to maximize audience reach. Strong communication and marketing skills are
        required.</p>
    <p><b>Position</b>: <em>Facilities Maintenance Technician</em></p>
    <p><b>Description</b>: Ensure the smooth operation and maintenance of cinema facilities. Perform routine maintenance
        and repairs of building systems, including electrical, plumbing, and HVAC. Monitor and address any
        facility-related issues promptly to maintain a safe and comfortable environment for employees and patrons.</p>
    <p><b>Position</b>: <em>Cleaning Attendant</em></p>
    <p><b>Description</b>: Responsible for maintaining cleanliness and hygiene throughout the cinema premises, including
        theater halls, restrooms, lobbies, and common areas. Duties include sweeping, mopping, vacuuming, sanitizing
        surfaces, emptying trash cans, and restocking supplies as needed. Attention to detail and a diligent work ethic
        are key to ensure a clean and comfortable environment for cinema patrons and staff.</p>
{% endblock %}