{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/vacancies.css' %}">
{% endblock %}
{% block title %}Vacancies{% endblock %}
{% block content %}
    <h2 id="vacancies_title">VACANCIES</h2>
    <section id="vacancies">
        <div itemscope itemtype="https://schema.org/JobPosting" class="vacancy">
            <h2 itemprop="title">Customer Service Representative</h2>
            <p><b>Description</b>: <span itemprop="description">Provide exceptional customer service by assisting
                customers with inquiries, resolving issues, and providing information about movie schedules, promotions,
                and cinema facilities. Maintain a positive and friendly demeanor, handle customer feedback, and ensure
                customer satisfaction.</span></p>
        </div>

        <div itemscope itemtype="https://schema.org/JobPosting" class="vacancy">
            <h2 itemprop="title">Marketing Coordinator</h2>
            <p><b>Description</b>: <span itemprop="description">Develop and implement marketing campaigns to promote
                movies, events, and special screenings. Responsible for social media management, creating engaging
                content, managing online advertising, and collaborating with external partners to maximize audience
                reach. Strong communication and marketing skills are required.</span></p>
        </div>

        <div itemscope itemtype="https://schema.org/JobPosting" class="vacancy">
            <h2 itemprop="title">Facilities Maintenance Technician</h2>
            <p><b>Description</b>: <span itemprop="description">Ensure the smooth operation and maintenance of cinema
                facilities. Perform routine maintenance and repairs of building systems, including electrical, plumbing,
                and HVAC. Monitor and address any facility-related issues promptly to maintain a safe and comfortable
                environment for employees and patrons.</span></p>
        </div>

        <div itemscope itemtype="https://schema.org/JobPosting" class="vacancy">
            <h2 itemprop="title">Cleaning Attendant</h2>
            <p><b>Description</b>: <span itemprop="description">Responsible for maintaining cleanliness and hygiene
                throughout the cinema premises, including theater halls, restrooms, lobbies, and common areas. Duties
                include sweeping, mopping, vacuuming, sanitizing surfaces, emptying trash cans, and restocking supplies
                as needed. Attention to detail and a diligent work ethic are key to ensure a clean and comfortable
                environment for cinema patrons and staff.</span></p>
        </div>
    </section>
{% endblock %}