#news {
    padding: 50px 30px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    grid-row-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
}

.article_wrap {
    max-width: 100%;
    overflow: hidden;
    padding: 20px 10px;
    max-height: 90%;
}

div, div:before, div:after {
    transform-style: preserve-3d;
}

.article:before {
    opacity: 0.5;

    mix-blend-mode: color;
}

.article {
    --posx: 50%;
    --posy: 50%;
    --rotateX: 0;
    --rotateY: 0;
    transform: perspective(100em) translatez(0em) rotateY(var(--rotateX)) rotateX(var(--rotateY));
    background-position: var(--posx) var(--posy);
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 18px;
    overflow: hidden;
    min-height: 95%;
}

@keyframes reset-card {
    to {
        background-position: 50% 50%;
        transform: rotateY(0) rotateX(0);
    }
}

.article_description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 20px;
}

.article a {
    text-decoration: none;
    color: #1f1a42;
}

.article > h3 {
    font-size: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: normal;
}

.article_img {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    width: 450px;
    height: 250px;
    position: relative;
}

.article_img img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 600px;
    height: 400px;
    transform: translate(-10%, -50%);
}

@media only screen and (max-width: 1200px) {
    #news {
        grid-template-columns: repeat(1, 1fr);
    }
}