* {
    font-family: Barlow, serif;
}

body {
    margin: 0;
    width: 100%;
    background-size: cover;
    background-color: #D9E2E7;
    min-height: 100vh;
}

header {
    z-index: 2;
    display: flex;
    background-color: #120F26;
    color: white;
    justify-content: space-between;
    background-size: cover;
    background-position: top center;
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
}

header h1 {
    padding-left: 30px;
    font-size: 45px;
    font-family: "Barlow", serif;
    font-kerning: normal;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    height: 100%;
}

header li {
    display: flex;
    align-items: center;
    background-color: #120F26;
    height: 100%;
}

header li a {
    padding: 14px 16px;
    border-right: 1px solid #9a9a9a;
    height: 40%;
}

header li:hover {
    background-color: #282154;
}

header a {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 30px;
    text-decoration: none;
    font-size: 17px;
}

header a:hover {
    background-color: #282154;
}

footer {
    text-align: center;
    background-color: #120F26;
    color: white;
    margin: 0;
    padding: 10px;
    justify-self: end;
    position: relative;
    left: 0;
    bottom: 0;
}

