{%  extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/confirm_pay.css' %}">{% endblock %}
{% block title %}Purchase confirmation{% endblock %}
{% block content %}
    <h2>Confirm pay</h2>
    <form action="{% url 'confirm_handler' %}" method="post">
        {% csrf_token %}
        <input id="id_payment_id" name="payment_id" type="number" value="{{ payment.id }}" hidden="hidden"/>
        <input type="submit" value="Confirm"/>
        <input type="submit" value="Cancel" name="cancel"/>
    </form>
{% endblock %}
